* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --topbar-height: 80px;
  --sidebar-width: 120px;
}

body {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
