.topbar {
  position: relative;
  width: 100%;
  height: var(--topbar-height);
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}