.topbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}