.canvases-page {
  height: 100vh;
}

.canvases-page main {
  height: calc(100vh - var(--topbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-card {
  position: relative;
  width: 400px;
  height: 450px;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

hr {
  border: 2px solid rgba(164, 180, 209, 0.7)
}

.ui h3 {
  margin: 0.5rem 0 0.5rem 0;
  text-align: center;
  color: antiquewhite;
}

.list-item {
  text-decoration: none;
  display: flex;
  padding: 0.6rem;
  border-bottom: 1px solid #eee;
}

.list-link {
  text-decoration: none;
  color: #fff;
}

.list-link:hover {
  color: black;
}

.updatename {
  position: absolute;
  right: 35px;
  padding: 1px 3px 1px 3px;
}

.deleteitem {
  position: absolute;
  right: 10px;
  padding: 1px 3px 1px 3px;
}

.general {
  position: absolute;
  width: 100%;
  bottom: 80px;
}

.additem {
  position: absolute;
  display: flex;
  margin: 10px;
  padding: 5px;
}

.pagination {
  position: absolute;
  width: 90%;
  bottom: 5px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination button {
  padding: 1px 5px 1px 5px;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}